body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.container {
    background-color: rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 20px;
    display: inline-block;
}
